src/TDD_Kata/FizzBuzz/FizzBuzz_CSharp/FizzBuzz_CSharp/bin/
src/TDD_Kata/FizzBuzz/FizzBuzz_CSharp/FizzBuzz_CSharp/obj/
src/TDD_Kata/FizzBuzz/FizzBuzz_CSharp/packages/
src/TDD_Kata/FooBarQix/FooBarQix_CSharp/packages/
src/TDD_Kata/FooBarQix/FooBarQix_CSharp/FooBarQix_CSharp/bin/
src/TDD_Kata/FooBarQix/FooBarQix_CSharp/FooBarQix_CSharp/obj/Debug/FooBarQix_CSharp.csproj.FileListAbsolute.txt
src/TDD_Kata/FooBarQix/FooBarQix_CSharp/FooBarQix_CSharp/obj/
